:root{
   background-color: lightgrey;
}
h1 {
    text-align: center;
    margin: 15px;
}

.border-color-white{
    border-color: white;
}

.btn{
    margin-top: 10px;
    justify-items: center;
    border: solid black;
    color: white;
}

.inputArea{
    margin-top: 100px;
    text-align: center;
}

.inputlabel{
    font-size: x-large;
  
}

#cityname{
    border: dashed black;
}